/* .container {
  height: 200px;
  position: relative;
  border: 3px solid green;
} */

/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

body,
html,
#root {
  height: 100vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  border-radius: 2px;
}

.quote-card{
  font-size: 2rem;
   text-shadow: 1px 1px 2px #4e4c4c;
}

.button{
  box-shadow: 1px 1px 2px #4e4c4c;
  border: none;
}


